<html>
<head>

<script src="//use.typekit.net/exh1wcj.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

	<link rel="shortcut icon" href="/images/logo-01.ico">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<!-- <link rel="stylesheet" type="text/css" href="/css/reset.css"> -->
	<!-- Bootstrap -->
<!-- 	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap-responsive.css"> -->

</head>

<body>

	<img src="/images/logo-black-01.png"><br>

<% if !current_user %>
	<section id="loginform">
	<form method="post" action="/sessions">
	<input id="email" type="text" name='email' placeholder="Email">
	<input id="password" type="password" name="password" placeholder="Password">
	<input id="button2" type="submit" value="Log in">
	</form>
	</section>

	<form action="/users/new">
	<input id="signup" type="submit" value="Sign up">
	</form>
<% end %>

	<% if current_user %>
	<%= current_user.first_name %><br>
	<%= current_user.username %>
	<form method="post" action="/sessions">
		<input type="hidden" name="_method" value="delete">
		<input id="signout" type="submit" value="Sign out">
	</form>
	<% end %>

	<% if flash[:errors] && !flash[:errors].empty? %>
	Sorry, there were the following problems with the form
	<ul id="errors">
		<% flash[:errors].each do |error| %>
		<li><%= error %></li>
		<% end %>
	</ul>
	<% end %>

	<% if flash[:notice] %>
		<div id="notice">
			<%= flash[:notice] %>
		</div>
	<% end %>

	<%= yield %>

	<!-- Bootstrap jQuery Plugin, compiled and minified -->
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>